{% comment %}
Renders an Accordion List

Accepts:
- title: {String} The title of the list
- items: {Array} The items to render
- icon: {String} The icon to render in the title
- ordered: {Boolean} True if the list should be numbered / ordered (optional)

Usage:
{% endcomment %}

<li class="menuItem">
  {% include navigation/list/title.liquid title=include.title icon=include.icon %}
  {% if include.ordered %}
  <ol id="sect-{{include.title}}" role="region" aria-labelledby="{{include.title}}" class="padding-h-2 accordion-panel">
    {% for item in include.items %}
    <li>
      <a href="{{ site.baseurl }}{{ item.permalink }}" class="foreground-1">
        <span class="row menu-item with-icon padding-v-3 padding-h-2 margin-h-1 block radius-1 content-center-v">
          <span class="marker flex content-center-v">{{ forloop.index }}</span> {{ item.name }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
  {% unless include.ordered %}
    {% assign constructor_item = nil %}
    {% assign other_items = "" | split: "" %}

    {% for item in include.items %}
      {% if item.title == 'constructor' %}
        {% assign constructor_item = item %}
      {% else %}
        {% assign other_items = other_items | push: item %}
      {% endif %}
    {% endfor %}

    {% assign sorted_items = other_items | sort: "name" %}

    <ul id="sect-{{include.title}}" role="region" aria-labelledby="{{include.title}}" class="padding-h-2 accordion-panel">
      {% if constructor_item %}
      <li>
        <a href="{{ site.baseurl }}{{ constructor_item.permalink }}" class="foreground-1">
          <span class="row menu-item with-icon padding-v-3 padding-h-2 margin-h-1 block radius-1 content-center-v">
            <span class="marker flex content-center-v">c</span> {{ constructor_item.title }}
          </span>
        </a>
      </li>
      {% endif %}
      {% for item in sorted_items %}
      <li>
        <a href="{{ site.baseurl }}{{ item.permalink }}" class="foreground-1">
          <span class="row menu-item with-icon padding-v-3 padding-h-2 margin-h-1 block radius-1 content-center-v">
            <span class="marker flex content-center-v">m</span> {{ item.title }}
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endunless %}

</li>